:root{
    --on-surface: #FFFFFF;
    --on-surface-1: #E1E1E1;

    --surface-0: #272727;
    --surface-1: #18191B;
    --surface-2: #1B1D1F;

    --primary: #69339F;

    --drop-shadow:  0px 0px 12px rgba(0, 0, 0, 0.5);

    --linear-home: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
}