@import "../../assets/styles/variables.css";
body {
  background-size: cover;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 8px;
  z-index: 10;
  overflow: hidden;
}

.dialogue-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dialogue-content {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.dialogue {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 48px 0 0 0;
  gap: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  transition: opacity 0.7s ease 0.1s, transform 0.4s ease;
}

.message-left {
  padding-right: 96px;
  transform: translateX(25%);
}

.message-right {
  padding-left: 96px;
  align-items: flex-end;
  transform: translateX(-25%);
}

.message-center {
  transform: translateY(50%);
}

.character-name {
  width: fit-content;
  display: flex;
}

.message-left .character-name {
  background: var(--linear-blue);
  border-radius: 28px 0 0 28px;
  padding: 8px 48px 8px 24px;
}

.message-right .character-name {
  background: var(--linear-blue-inversed);
  border-radius: 0 28px 28px 0;
  padding: 8px 24px 8px 48px;
  justify-content: flex-end;
}

.text {
  background: var(--primary-transparent);
  padding: 24px;
  border-radius: 28px;
}

.character-text {
  padding: 24px;
  display: flex;
  gap: 12px;
}

.character-text .icon {
  margin-top: 6px;
}

.message-left .character-text {
  background: var(--linear-blue-transparent);
  border-radius: 28px 0 0 28px;
}

.message-right .character-text {
  background: var(--linear-blue-transparent-inversed) !important;
  padding: 24px !important;
  border-radius: 0 28px 28px 0 !important;
}

.message-center .character-text {
  background: var(--primary-transparent);
  padding: 8px 20px;
  border-radius: 8px;
}

.dilemmas-choice {
  display: flex;
  gap: 8px;
}

.dilemmas-choice-1, .dilemmas-choice-2 {
  opacity: 0;
  display: none;
}

.dilemmas-choice .buttons-clickable {
  width: 100%;
  background: var(--primary-transparent);
  padding: 8px 20px;
  border-radius: 28px;
}

.character-images-mobile {
  display: none;
  width: 100%;
  gap: 8px;
  padding: 0 8px;
  justify-content: space-evenly;
}

.character-image {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  transition: transform 0.5s ease-out, opacity 0.7s ease-out;
  opacity: 0;
  transform: translateY(70%);
}

.character-right,
.character-left {
  transition: filter 0.3s ease-out;
}

.character-image img {
  width: 100%;
  object-fit: contain;
  max-height: 70%;
}

.choices {
  display: flex;
  width: 100%;
  max-width: 750px;
  padding: 0 24px;
  gap: 24px;
}

.choice {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 12px;
}

.main-menu-button {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  z-index: 15;
}

.main-menu-button a {
  width: fit-content !important;
}

.saving-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  max-width: 250px;
}

.controls {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 650px;
  align-self: center;
  margin: 24px 0 24px 0;
  transition: scale 0.35s ease-out, opacity 0.6s ease-out;
  opacity: 0;
  scale: 0.3;
}

.secondary-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 12px;
  height: 100%;
}

.secondary-controls > div {
  background: var(--primary);
  border: solid 2px var(--on-surface-2);
  height: 100%;
  width: fit-content;
  gap: 12px;
  padding: 4px 16px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.secondary-controls > div > div {
  display: flex;
  min-width: 16px;
  min-height: 16px;
}

.primary-control {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  gap: 12px;
  padding: 4px 16px;
  border-radius: 28px;
  background: var(--primary);
  border: solid 2px var(--on-surface-2);
}

@media screen and (max-width: 1600px) {
  .message-left {
    padding-right: 48px;
  }

  .message-right {
    padding-left: 48px;
  }
}

@media screen and (max-width: 1250px) {
  .character-text .icon {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  body h1 {
    font-size: 5rem;
  }

  .title-container img {
    width: 150px;
  }

  .dialogue {
    width: 100%;
    max-width: 475px;
    align-items: center;
    padding: 24px 24px 12px 24px;
  }

  .dialogue .message:first-child {
    padding-top: 75px;
  }

  .character-image {
    width: auto;
    height: 100%;
  }

  .character-image img {
    max-height: 250px;
  }

  .character-image-desktop {
    display: none;
  }

  .character-images-mobile {
    display: flex;
  }

  .character-name {
    padding: 4px 16px;
    width: 80%;
  }

  .character-text {
    width: 100%;
    padding: 8px 16px;
  }

  .message-right {
    padding-left: 0;
  }

  .message-left {
    padding-right: 0;
  }

  .controls {
    display: flex;
    margin: 16px 0 16px 0;
    max-width: 475px;
  }
}
@media screen and (max-width: 600px) {
  body h1 {
    font-size: 4rem;
  }

  .title-container img {
    width: 120px;
  }

  .controls {
    padding: 0 24px 0 24px;
  }

  .character-image img {
    max-height: 200px;
  }

  .choices {
    flex-direction: column;
    align-items: center;
  }

  .choice {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  body h1 {
    font-size: 3rem;
  }

  .title-container img {
    width: 100px;
  }

  .dialogue .message:first-child {
    padding-top: 50px;
  }
}
@media screen and (max-width: 375px) {
  body h1 {
    font-size: 2.2rem;
  }

  .title-container img {
    width: 80px;
  }

  .secondary-control {
    padding: 4px 12px !important;
  }
}

@media screen and (max-width: 375px) {
  .primary-control {
    justify-content: center;
  }

  .primary-control p {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  .character-images-mobile {
    display: none;
  }
  .controls {
    margin: 24px 0 16px 0;
  }
  .character-image-desktop {
    display: flex;
    width: 100%;
  }
  main {
    flex-direction: row;
    gap: 0;
  }
  .character-image img {
    max-height: 70%;
  }
  .dialogue {
    padding: 0;
  }
}
