@import "../../assets/styles/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "mv_naadhu_filaregular";
  src: url("../fonts/fila-webfont.woff2") format("woff2"),
    url("../fila-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.scrollbar-width-none {
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
  border-radius: 8px;
  background: var(--primary);
}
.scrollbar::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--on-surface);
}

.parallax-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  opacity: .5;
  transition: opacity 1s ease-out;
}

.parallax {
  display: flex;
  width: 110%;
  height: 120vh;
  flex-shrink: 0;
  object-fit: cover;
}

.button-container {
  background: var(--linear-yellow);
  padding: 2px;
  border-radius: 28px 0 0 28px;
  margin: 48px;
  max-width: 225px;
}

.button-container-inversed {
  background: var(--linear-yellow-inversed);
  border-radius: 0 28px 28px 0;
}

.modals-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  overflow: hidden;
  justify-content: center;
}

.modal-background {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 19;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.modal {
  opacity: 0;
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 20;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  width: 100%;
  margin: 24px;
  max-width: 500px;
}

.modal-left {
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px 24px 0 24px;
  transform: translateX(-100%);
  opacity: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  z-index: 20;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  max-width: 500px;
  overflow-y: auto;
  max-height: 100%;
}

.modal-newgame {
  gap: 12px;
}

.modal-infos {
  align-self: center;
}

.cards {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  gap: 12px;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  width: 100%;
  overflow: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.help-case {
  flex-direction: column;
  display: none;
  gap: 8px;
  transition: scale 0.15s ease-out;
  scale: 0;
}

.card-image {
  display: flex;
  width: 100%;
  background: url(../img/card-image.png) no-repeat center/cover;
  height: 230px;
  border-radius: 28px;
}

.labels-container {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  padding: 8px 24px;
  gap: 12px;
  border-radius: 28px;
  width: 100%;
}

.label-container-title{
  width: fit-content;
}

.modal-help .cards .card .label-container {
  justify-content: space-between;
  cursor: pointer;
}

.text-container {
  display: flex;
  justify-content: center;
  background: var(--primary-transparent);
  padding: 24px;
  gap: 12px;
  border-radius: 28px;
  width: 100%;
  max-height: 300px;
}

.modal-infos .card .text-container,
.modal-endings .card .text-container {
  max-height: 250px;
}

.text-container p {
  overflow-y: auto;
}

.title-container {
  width: fit-content;
}

.endings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  height: 100%;
  border-radius: 0 28px 0 0;
}

.endings:last-child {
  padding-bottom: 24px;
}

.ending {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ending-title {
  justify-content: center;
}

.ending-title,
.ending-text {
  background: var(--linear-blue-inversed);
  border-radius: 0 28px 28px 0;
  padding: 8px 24px;
  display: flex;
  max-width: 400px;
}

.buttons {
  width: 320px;
  display: flex;
  align-items: center;
  background: var(--linear-blue);
  padding: 8px 24px;
  gap: 10px;
  border-radius: 28px 0 0 28px;
}

.button-without-container {
  margin: 48px;
}

.buttons-inversed {
  flex-direction: row-reverse;
  background: var(--linear-blue-inversed);
  border-radius: 0 28px 28px 0;
}

/* Buttons Clickable */

.buttons-clickable {
  cursor: pointer;
  padding: 8px 24px;
  transition: filter .3s ease, background .4s ease;
}
.buttons-clickable:hover {
  filter: drop-shadow(0px 0px 7px var(--on-surface-2));
  background: var(--primary-lighter);
}
.buttons-clickable:active {
  filter: drop-shadow(0px 0px 4px var(--on-surface-2));
  background: var(--primary-darker);
}

/* Buttons Clickable Exceptions First */

.buttons-clickable-exceptions {
  cursor: pointer;
  padding: 8px 24px;
  transition: filter .3s ease;
}
.buttons-clickable-exceptions:hover {
  filter: drop-shadow(0px 0px 9px var(--on-surface-2));
}
.buttons-clickable-exceptions:active {
  filter: drop-shadow(0px 0px 4px var(--on-surface-2));
}

/* Buttons Clickable Exceptions Second */

.buttons-clickable-exceptions-second {
  cursor: pointer;
  padding: 8px 24px;
  transition: background .3s ease;
}
.buttons-clickable-exceptions-second:hover {
  background: var(--primary-lighter);
}
.buttons-clickable-exceptions-second:active {
  background: var(--primary-darker);
}

/* Buttons Clickable with Border */

.buttons-clickable-w-border {
  border: solid 2px var(--on-surface-2);
}

/* Icons */

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  padding: 12px !important;
  border-radius: 240px;
  height: fit-content;
}

.icon {
  width: 26px;
  height: 26px;
  filter: var(--drop-shadow);
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.arrow-icon {
  transition: rotate 0.2s ease;
}

.buttons div,
.secondary-controls div {
  width: 26px;
  height: 26px;
  filter: var(--drop-shadow);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1250px) {
  body h1 {
    font-size: 5rem;
  }

  .title-container img {
    width: 150px;
  }

  .buttons {
    width: 225px;
  }

  .button-without-container {
    margin: 24px 0;
  }

  .button-container {
    margin: 24px 0;
  }

  .text-container {
    max-height: 200px !important;
  }
}

@media screen and (max-width: 500px) {
  .buttons {
    width: auto;
    padding: 4px 16px;
  }
  .buttons div {
    width: 20px;
    height: 20px;
    filter: var(--drop-shadow);
  }
  .buttons p {
    display: none;
  }

  .button-without-container {
    margin: 24px 16px;
  }

  .button-container {
    margin: 24px 16px;
  }

  .buttons-clickable {
    padding: 6px 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .buttons div,
  .secondary-controls div {
    width: 20px;
    height: 20px;
  }

  .endings {
    border-radius: 0;
  }
}

@media screen and (max-width: 350px) {
  .endings-counter{
    display: none;
  }

  .icon-container{
    padding: 9px !important;
  }
}

@media screen and (max-height: 500px) {
  .icon {
    width: 16px !important;
    height: 16px !important;
  }
  .buttons {
    width: 150px;
  }
  .buttons p {
    display: block;
  }
  .buttons div,
  .secondary-controls div {
    width: 16px;
    height: 16px;
  }
}
