@import "../../assets/styles/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "mv_naadhu_filaregular";
  src: url("../fonts/fila-webfont.woff2") format("woff2"),
    url("../fila-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.buttons{
  width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--linear-blue);
  padding: 8px 24px;
  gap: 8px;
  border-radius: 28px 0 0 28px ;
}

.buttons img{
  width: 22px;
}
