@import "../../assets/styles/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "mv_naadhu_filaregular";
  src: url("../fonts/fila-webfont.woff2") format("woff2"),
    url("../fila-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.parallax {
  display: flex;
  width: 110%;
  height: 120vh;
  flex-shrink: 0;
  object-fit: cover;
}

.button-container {
  background: var(--linear-yellow);
  padding: 2px;
  border-radius: 28px 0 0 28px;
  margin: 48px;
}

.button-container-inversed {
  background: var(--linear-yellow-inversed);
  border-radius: 0 28px 28px 0;
}

.buttons {
  width: 320px;
  display: flex;
  align-items: center;
  background: var(--linear-blue);
  padding: 8px 24px;
  gap: 12px;
  border-radius: 28px 0 0 28px;
}

.button-without-container {
  margin: 48px;
}

.buttons-inversed {
  flex-direction: row-reverse;
  background: var(--linear-blue-inversed);
  border-radius: 0 28px 28px 0;
}

.buttons-clickable {
  cursor: pointer;
  padding: 4px 16px;
}

/* .buttons-clickable-inversed {
  cursor: pointer;
  padding: 4px 16px;
} */

.buttons div {
  width: 22px;
  height: 22px;
  filter: var(--drop-shadow);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1250px) {
  body h1 {
    font-size: 5rem;
  }

  .title-container img {
    width: 150px;
  }

  .buttons {
    width: 225px;
  }

  .button-without-container {
    margin: 24px 0;
  }

  .button-container {
    margin: 24px 0;
  }
}

@media screen and (max-width: 500px) {
  .buttons {
    width: auto;
    padding: 4px 16px;
  }
  .buttons div {
    width: 20px;
    height: 20px;
    filter: var(--drop-shadow);
  }
  .buttons p {
    display: none;
  }

  .button-without-container {
    margin: 24px 16px;
  }

  .button-container {
    margin: 24px 16px;
  }
}
